SCManager/appsettings.Production.json
SCManager/bin
SCManager/obj
SCManager.Data/bin
SCManager.Data/obj
SCManager.Services/bin
SCManager.Services/obj
SCManager.Tests/bin
SCManager.Tests/obj
*.user
*.pubxml
SCManager.Tests/appsettings.json
*.v2
.vs/SCManager/v16/.suo
*.v2
