@model SCManager.InputModels.ComponentTypeInputModel

@{
    ViewData["Title"] = "Index";
}

<form enctype="multipart/form-data" id="profile-form" class="user" method="post">

    <input type="hidden" asp-for="Id" />

    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control form-control-user" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Image"></label>
        <br />
        <input asp-for="Image" id="formFile" type="file" accept=".jpg,.jpeg,.png,.gif" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>

    @if (Model != null && Model.Id != null)
    {
        <br />
        <hr />
        <h1>Details</h1>
        <br />

        <div class="card shadow mb-4">
            <a type="button" class="btn btn-outline-primary"
               asp-area=""
               asp-controller="Admin"
               asp-action="ComponentTypeDetail"
               asp-route-componentTypeId=@Model.Id>
                Add detail
            </a>
            <div class="card-body">
                <!-- COMPONENT TYPES TABLE -->
                <div class="table-responsive">
                    <table class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Unit</th>
                                <th>Symbol</th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (Model != null && Model.Details != null)
                            { // TODO REMOVE
                                foreach (var detail in Model.Details)
                                {
                                    <tr>

                                        <td>
                                            <a type="button" class="btn btn-link"
                                               asp-area=""
                                               asp-controller="Admin"
                                               asp-action="ComponentTypeDetail"
                                               asp-route-componentTypeId=@Model.Id
                                               asp-route-componentTypeDetailId=@detail.Id>
                                                @detail.Name
                                            </a>
                                        </td>
                                        <td>@detail.Unit</td>
                                        <td>@detail.Symbol</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <!-- COMPONENT TYPES TABLE -->
            </div>
        </div>
    }

    <button type="submit" class="btn btn-primary btn-user btn-block">
        Save
    </button>
</form>