@model SCManager.InputModels.ComponentTypeDetailInputModel

@{
    ViewData["Title"] = "Index";
}

    <form enctype="multipart/form-data" id="profile-form" class="user" method="post">

        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="ComponentTypeId" />

        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control form-control-user" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Unit"></label>
            <input asp-for="Unit" class="form-control form-control-user" />
            <span asp-validation-for="Unit" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Symbol"></label>
            <input asp-for="Symbol" class="form-control form-control-user" />
            <span asp-validation-for="Symbol" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary btn-user btn-block">
            Save
        </button>
    </form>