@model SCManager.ViewModels.Admin.ComponentTypeDetailViewModel

@{
    ViewData["Title"] = "Component type edit";
}

<div class="alert alert-primary" role="alert">
    Main component data
</div>
<div class="card">
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="Name" class="font-weight-bold">Name</label>
                <input asp-for="@Model.ComponentTypeModel.Name" class="form-control" id="formGroupExampleInput" placeholder="Example input">
            </div>
            <div class="form-group">
                <label for="ImagePath" class="font-weight-bold">Image url</label>
                <input asp-for="@Model.ComponentTypeModel.ImagePath" class="form-control" id="formGroupExampleInput" placeholder="Example input">
            </div>
        </form>
    </div>
</div>
<br />
<div class="alert alert-success" role="alert">
    Component details
</div>
@foreach (var item in Model.DetailModels)
{
    <div class="card">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="Name" class="font-weight-bold">Name</label>
                    <input asp-for="@item.Name" class="form-control" id="formGroupExampleInput" placeholder="Example input">
                </div>
                <div class="form-group">
                    <label for="ImagePath" class="font-weight-bold">Unit</label>
                    <input asp-for="@item.Unit" class="form-control" id="formGroupExampleInput" placeholder="Example input">
                </div>
            </form>
        </div>
    </div>
    <br/>
}