@model SCManager.InputModels.StaticSiteInfoInputModel

@{
    ViewData["Title"] = "Index";
}

<head>
    <!-- TinyMCE -->
    <script src="https://cdn.tiny.cloud/1/gzoj5y969hphw85vyz62g7cvbf01guoublvywfjtxabxajkn/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#Content',
            height: 500
        });
    </script>
</head>

<form enctype="multipart/form-data" id="profile-form" class="user" method="post">

    <input type="hidden" asp-for="Id" />

    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control form-control-user" readonly />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Content"></label>
        <textarea asp-for="Content"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary btn-user btn-block">
        Save
    </button>
</form>