@model SCManager.InputModels.UnitMultiplierInputModel

@{
    ViewData["Title"] = "Unit multiplier";
}

<form enctype="multipart/form-data" id="profile-form" class="user" method="post">

    <input type="hidden" asp-for="Id" />

    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control form-control-user" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary btn-user btn-block">
        Save
    </button>
</form>