@model HandotaiSeigyo.ViewModels.Admin.ComponentTypeViewModel
@using System;

@{
    ViewData["Title"] = "Admin panel";
}

<a href="">Create new component</a>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Component name</th>
            <th scope="col">Image</th>
            <th scope="col">Creation/Update datetime</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>
        @for (var index = 0; index < Model.ListingModels.Count(); index++)
        {
            var item = Model.ListingModels.ElementAtOrDefault(index);
            <tr>
                <th scope="row">@(index + 1)</th>
                <td>@item.Name</td>
                <td><img src="" class="rounded-circle" alt="Cinque Terre" width="64" height="64" asp-append-version="true"></td>
                <td>@item.DateTime</td>
                <td><a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Detail" asp-route-id="@item.Id">Modify</a></td>
            </tr>
        }
    </tbody>
</table>