@model SCManager.ViewModels.Privacy.IndexViewModel

@{
    ViewData["Title"] = "Privacy";
}

<!-- Basic Card Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Privacy Policy</h6>
    </div>
    <div class="card-body">
        <p class="lead">
            @Html.Raw(Model.Content)
        </p>
    </div>
</div>