@model SCManager.ViewModels.Error.IndexViewModel

@{
    ViewData["Title"] = "Error";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="@Model.ErrorStatusCode">@Model.ErrorStatusCode</div>
        <p class="lead text-gray-800 mb-5">@Model.ErrorStatusMessage</p>
        <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>
    </div>
</div>
<!-- /.container-fluid -->