{
  "ConnectionStrings": {
    "SCManagerDbConnection": ""
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "MailClientCredentials": {
    "SenderEmail": "",
    "SenderEmailKey": "",
    "SenderName": "",
    "MailServer": "",
    "MailPort": 0
  },
  "Cloudinary": {
    "CloudName": "",
    "ApiKey": "",
    "ApiSecret": ""
  },
  "AllowedHosts": "*"
}
