@model SCManager.InputModels.ComponentTypeInputModel

@{
    ViewData["Title"] = "Index";
}

<form enctype="multipart/form-data" id="profile-form" class="user" method="post">

    <input type="hidden" asp-for="Id" />

    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control form-control-user" id="Name" />
    </div>

    <div class="form-group">
        <label asp-for="Image"></label>
        <br />
        <input asp-for="Image" id="formFile" type="file" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>

    <br />
    <hr />
    <h1>Details</h1>
    <br />

    <div class="card shadow mb-4">
        <a type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#detailModal">Add detail</a>
        <div class="card-body">
            <!-- COMPONENT TYPES TABLE -->
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Unit</th>
                            <th>Symbol</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                        @if (Model != null && Model.Details != null)
                        { // TODO REMOVE
                            foreach (var detail in Model.Details)
                            {
                                <tr>
                                    <td>@detail.Name</td>
                                    <td>@detail.Unit</td>
                                    <td>@detail.Symbol</td>
                                    <td><a href="#">Remove</a></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <!-- COMPONENT TYPES TABLE -->
        </div>
    </div>

    <button type="submit" class="btn btn-primary btn-user btn-block">
        Save
    </button>
</form>

<!-- Modal -->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script>
    function addDetail() {

    }
</script>