// Pulling these images from Unsplash
// Toshi the dog from https://unsplash.com/@charlesdeluvio - what a funny dog...

.bg-login-image {
    background: url('../img/bg-login-image.jpg');
    background-position: center;
    background-size: cover;
}

.bg-register-image {
    background: url('../img/bg-register-image.jpg');
    background-position: center;
    background-size: cover;
}

.bg-password-image {
    background: url('../img/bg-password-image.jpg');
    background-position: center;
    background-size: cover;
}

.bg-confirm-email-image {
    background: url('../img/bg-confirm-email-image.jpg');
    background-position: center;
    background-size: cover;
}

.bg-email-confirmed-image {
    background: url('../img/bg-email-confirmed-image.jpg');
    background-position: center;
    background-size: cover;
}

.bg-security-image {
    background: url('../img/bg-security-image.jpg');
    background-position: center;
    background-size: cover;
}

.bg-security-confirmed-image {
    background: url('../img/bg-security-confirmed-image.jpg');
    background-position: center;
    background-size: cover;
}


form.user {

  .custom-checkbox.small {
    label {
      line-height: 1.5rem;
    }
  }

  .form-control-user {
    font-size: 0.8rem;
    border-radius: 10rem;
    padding: 1.5rem 1rem;
  }

  .btn-user {
    font-size: 0.8rem;
    border-radius: 10rem;
    padding: 0.75rem 1rem;
  }

}

.btn-google {
  @include button-variant($brand-google, $white);
}

.btn-facebook {
  @include button-variant($brand-facebook, $white);
}
