@page
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = "Recovery code verification";
}

<body class="bg-gradient-primary">
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">
                                            Recovery code
                                        </h1>
                                        <p class="mb-4">
                                            You have requested to log in with a recovery code. This login will not be remembered until you provide
                                            an authenticator app code at log in or disable 2FA and log in again.
                                        </p>
                                    </div>
                                    <form class="user" method="post">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="form-group">
                                            <input asp-for="Input.RecoveryCode" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Recovery code..." autocomplete="off">
                                            <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-user btn-block">Log in</button>
                                        </div>
                                        <hr>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}